@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Emerverse :)</h1>
    <p>
        Quisque et felis porta, congue tortor non, fermentum massa. Donec eu lorem quis leo vulputate rutrum imperdiet luctus nulla. Proin sed egestas felis. Aenean rhoncus tempus urna nec bibendum. Duis mauris nulla, suscipit non euismod in, efficitur id sem. Proin efficitur metus sed pharetra rutrum. Fusce augue risus, finibus egestas magna non, sagittis ultrices tortor. Maecenas sed velit ut dolor porttitor dignissim in eu diam. Duis eget fermentum purus. Sed pharetra tellus non tincidunt congue. Ut tincidunt consequat facilisis.
    </p>
</div>
